[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/uniswap-hooks"]
	path = lib/uniswap-hooks
	url = https://github.com/openzeppelin/uniswap-hooks
[submodule "lib/hookmate"]
	path = lib/hookmate
	url = https://github.com/akshatmittal/hookmate
[submodule "lib/conditional-tokens-contracts"]
	path = lib/conditional-tokens-contracts
	url = https://github.com/gnosis/conditional-tokens-contracts
[submodule "lib/1155-to-20"]
	path = lib/1155-to-20
	url = https://github.com/gnosis/1155-to-20
